/* Write your CSS here */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.container-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000000;
}

.image {
  width: 150px;
}

.sub-heading {
  color: white;
}
@media screen and (min-width: 768px) {
  .image {
    width: 200px;
  }
}
